<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body><!-- th:object="${userReqDTO} 왜 리스판스가 아닌가? 보내는거니까! object뒤에는 객체 -->
<form action="#" th:action="@{/custmerWithThymeleaf/add}" th:object="${customerReqDTO}"method="post">
    <label for="name">NAME</label>
    <input type="text" th:field="*{name}" id="name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br/>
    <label for="age">AGE</label>
    <input type="text" th:field="*{age}" id="age">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    <br/>
    <label for="email">EMAIL</label>
    <input type="text" th:field="*{email}" id="email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br/>
    <input type="submit" value="등록">
</form>
</body>
</html>